@tt-burgundy: #aa1352;
@tt-magenta: #e4067e;
@tt-grey-1: #9396b0;
@tt-light-blue: #4dbed2;
@tt-dark-blue: #342b60;
@tt-grey-2: #dadae4;
@tt-black: #000;
@tt-white: #fff;

// Typography
@font-family-base: 'Lato', sans-serif;
@text-color: @tt-black;
@link-color: @tt-burgundy;
@font-size-base: 16px;
@brand-primary: @tt-burgundy;

// Navbar
@navbar-height: 100px;
@navbar-default-bg: @tt-dark-blue;
@navbar-default-border: @tt-magenta;
@navbar-logo-vertical-padding: 10px;
@navbar-default-link-color: @tt-white;
@navbar-default-link-hover-color: @tt-magenta;
@navbar-default-link-active-bg: transparent;
@navbar-default-link-active-color: @tt-magenta;
@navbar-margin-bottom: 0;
@dropdown-menu-links-padding-vertical: 10px;
@dropdown-menu-links-padding-horizontal: 20px;

// Footer
@footer-height: 100px;
@footer-border: #ebebeb;
@footer-link-color: #000;
@footer-link-hover-color: #95004F;

// Buttons
@btn-primary-bg: #95004F;
@btn-primary-border: transparent;
@btn-primary-color: #fff;
@btn-default-bg: #000;
@btn-default-border: transparent;
@btn-default-color: #fff;

// Card
@card-border-radius: 10px;

// Form
@input-border-focus: #95004F;

// Labels
@label-info-bg: #001095;
@label-success-bg: #009514;
@label-danger-bg: #950000;
@label-warning-bg: #6a0095;
@label-primary-bg: @brand-primary;

// Misc
@grid-float-breakpoint: 1023px;
