Pileti lunastamine / Redeeming your ticket

---

$ticket.name ($ticketOffering.name)
Oma pileti lunastamiseks järgi juhendit aadressil https://e-sport.ee/#/ticket-certificates/$code või näita kassas all olevat koodi.
To redeem your ticket, follow the instructions at https://e-sport.ee/#/ticket-certificates/$code or show the code below to the cashier.</p>

$code

---

MTÜ FOR Tsükkel, Akadeemia tee 15a-314, Tallinn, Eesti
Registrinumber / Registry number: 80391807</span>
Kontakt / Contact: esport@ituk.ee, +372 5906 1664
