Pilet tühistatud / Ticket discarded

---

$ticket.name
Sinu pilet on tühistatud. Kui Sa siiski soovid osaleda, broneeri uus pilet.
Your ticket has been discarded. If You still wnat to attend, reserve a new ticket.
Minu piletid / My tickets: $loginLink

---

MTÜ FOR Tsükkel, Akadeemia tee 15a-314, Tallinn, Eesti
Registrinumber / Registry number: 80391807
Kontakt / Contact: esport@ituk.ee, +372 5348 5349


