Pilet kinnitatud / Ticket confirmed

---

$ticket.name
Näeme TalTech e-Spordil! / See You at TalTech e-Sport!
Minu piletid / My tickets: $loginLink

---

MTÜ FOR Tsükkel, Akadeemia tee 15a-314, Tallinn, Eesti
Registrinumber / Registry number: 80391807
Kontakt / Contact: esport@ituk.ee, +372 5348 5349
