<div class="footer">
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                <span>MTÜ FOR Tsükkel, Akadeemia tee 15a-314, Tallinn, Eesti<br>Registrinumber / Registry number: 80391807</span>
            </td>
        </tr>
        <tr>
            <td class="content-block">
                <span>Kontakt / Contact:<br><a href="mailto:esport@ituk.ee">esport@ituk.ee</a><br>+372 5906 1664</span>
            </td>
        </tr>
        <tr>
            <td class="content-block">
                <a href="https://e-sport.ee">TalTech e-Sport</a>
            </td>
        </tr>
    </table>
</div>
<!-- END FOOTER -->

<!-- END CENTERED WHITE CONTAINER -->
</div>
</td>
<td>&nbsp;</td>
</tr>
</table>
</body>
</html>
