#parse("header.vm")
<table class="main">
    <tr>
        <td class="wrapper">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <h1>Pilet kinnitatud / Ticket confirmed</h1>
                        <h2>$ticket.name</h2>
                        <p>Näeme TalTech e-Spordil! / See You at TalTech e-Sport!</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
#parse("footer.vm")
