#parse("header.vm")
                <table class="main">

                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <h1>Ootel / Waiting</h1>
                                        <h2>$ticket.name</h2>
                                        <p>Olete lisatud ootelisti. Kui koht vabaneb, saadetakse Sulle automaatselt pileti arve.</p>
                                        <p>You have been added to the waiting list. If a spot frees up, an invoice will automatically be sent to You.</p>
                                        <p>
                                            <br>Kuupäev / Date: <span class="text-colored">$ticket.dateCreated.format($datePattern)</span>
                                            <br>Pilet / Ticket: <span class="text-colored">$ticket.type.name</span>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
#parse("footer.vm")