#parse("header.vm")
                <table class="main">

                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <h1>Arve / Invoice</h1>
                                        <h2>$ticket.name</h2>
                                        <p>Arve number / Invoice number: <span class="text-colored">$invoiceNumber</span>
                                            <br>Kuupäev / Date: <span class="text-colored">$ticket.dateCreated.format($datePattern)</span>
                                            <br>Pilet / Ticket: <span class="text-colored">$ticket.type.name</span>
                                            #if($ticket.type.teamSize > 1)
                                            <br>Ühe mängija hind / Price per player: <span class="text-colored">${ticket.type.perPersonCost}€</span>
                                            <br>Mängijaid meeskonnas / Players in team: <span class="text-colored">$ticket.type.teamSize</span></p>
                                            #end
                                        <h3>Kokku / Total: <span class="text-colored">${ticket.type.cost}€</span></h3>

                                        <h2>Maksmine / Payment</h2>
                                        <p>Pank / Bank: <span class="text-colored">LHV</span>
                                            <br>Saaja / Receiver: <span class="text-colored"Rasmus Rüngenen</span>
                                            <br>IBAN: <span class="text-colored">EE701010011758709221</span>
                                            <br>SWIFT / BIC: <span class="text-colored">EEUHEE2X</span>
                                            <br>Selgitus / Description: <span class="text-colored">$invoiceNumber</span>
                                        <p class="text-muted">Pileti kinnitamiseks peab olema raha kantud saaja kontole hiljemalt 3 tööpäeva jooksul alates arve saamisest. Maksmata jätmisel pilet tühistatakse.</p>
                                        <p class="text-muted">To confirm the ticket the payment must be received by the receiver in 3 days after receiving the invoice at the latest. Unpaid tickets will be discarded.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
#parse("footer.vm")