#parse("header.vm")
                <table class="main">

                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td class="wrapper">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <h1>Pilet tühistatud / Ticket discarded</h1>
                                        <h2>$ticket.name</h2>
                                        <p>Sinu pilet on tühistatud. Kui Sa siiski soovid osaleda, broneeri uus pilet.</p>
                                        <p>Your ticket has been discarded. If You still wnat to attend, reserve a new ticket.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
#parse("footer.vm")